
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Staatliches&display=swap');
/*
  Josh's Custom CSS Reset (customized by jums)
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
    padding: 0;
    font-family: "Staatliches", sans-serif;
    font-style: normal;
    letter-spacing: .06em;

  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    user-select: none;
  }
  #root, #__next {
    isolation: isolate;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }



:root {
  --ship-width-root: 48px;
}
#app {
  height: 100%;
  width: 100%;
  /* cursor: crosshair; */
    overflow: clip;

}
#landingPage {
  cursor: crosshair;
  height: 100%;
  width: 100%;
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.battleship-text {
  color: white;
  font-size: 6rem;
  user-select: none;
}

#name-input{
  outline: none;
  scale: 1.15;
}
#play-button{
  cursor: pointer;
  margin-top: 24px;
  padding: 8px 72px;
  font-size: 1.6rem;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 4px;
}

#play-button:disabled{
  transform: scale(1.1);
  background-color: red;
}

#play-button:hover{
  transition: 0.2s;
  transform: scale(1.1);
}

#name-input-label{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  cursor: crosshair;
}

#name-input-label > h1 {
  color: white;
  font-size: 1.5rem;
}

#preGamePage {
  width: 100%;
  height: 100%;
  background-image: url("/nice-snow.png");
  background-color: #001fe6;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.10em;
}


#preGamePage > h1 {
  cursor: crosshair;
}
#preGamePage > h1::after {
  content: "";
  border-right: 4px solid orange;
  animation: typeborder 0.75s step-end infinite;
}


#gamePage {
  width: 100%;
  height: 100%;
  background-image: url("/nice-snow.png");
  background-color: #001181;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

#gamePage > h1#placeYourShipsText {
   padding-top: 5%;
   /* cursor: crosshair; */
}

#gamePage > h1#placeYourShipsText.not-allowed-text {
  transition: .1s;
  color: rgb(255, 1, 1);
}

#gamePage > h1#placeYourShipsText.allowed-text {
  transition: .15s;
  color: lightgreen;
}

.gamePlace {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.ships {
  background-color: hsla(0, 0%, 70%, 0.4);
  width: 240px;
  height: 500px;
  border-radius: 4px;
  padding: 12px 24px;
}

.userGameboard {
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(10, 48px);
  grid-template-rows: repeat(10, 48px);
  grid-auto-flow: column;
  justify-content: center;
  gap: 2px;
  pointer-events: none;
  cursor: none;
}


.userGameboard > div {
  border: 1px solid white;
  pointer-events: all;
}


.userGameboard > div:hover{
  transition: .15s ease-out;
  background-color: aqua; 
}

.userGameboard > div.allowed {  
  transition: 0.1s;
  background-color: lightgreen; 
}

.ships > img[src $= ".svg"]{
  filter: invert(0%) sepia(4%) saturate(7500%) hue-rotate(187deg) brightness(100%) contrast(105%);
  width: 100px; 
  height: 100px;
  cursor: pointer;
}

#ship-carrier{
  width: calc(var(--ship-width-root) * 5);  
}
#ship-battleship{
  width: calc(var(--ship-width-root) * 4);  

}
#ship-cruiser{
  width: calc(var(--ship-width-root) * 3);  

}
#ship-submarine{
  width: calc(var(--ship-width-root) * 3);
  padding-top: 8px;
}
#ship-destroyer{
  width: calc(var(--ship-width-root) * 2);  
}

.mainGame {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.infoText {
  text-align: center;
}
.gameLayout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.userGameboardMain {
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(10, 48px);
  grid-template-rows: repeat(10, 48px);
  grid-auto-flow: column;
  justify-content: center;
  gap: 2px;
}

.userGameboardMain > div, .computerGameboardMain > div  {
  border: 1px solid white;
  font-size: .5rem;
  position: relative;
}
.computerGameboardMain > div {
  cursor: crosshair;
}

.userGameboardMain > div.hit::before, .computerGameboardMain > div.hit::before, .userGameboardMain > div.hit::after,.computerGameboardMain > div.hit::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: calc(100%);
  width: 1px;
  border: 1px solid red;
  border-radius: 2px;
  opacity: 0.8;
  animation: landToPage .8s ease-in;
  z-index: 1;
}

.userGameboardMain > div.hit.hit-water::before, .computerGameboardMain > div.hit.hit-water::before, .userGameboardMain > div.hit.hit-water::after,.computerGameboardMain > div.hit.hit-water::after{
  border-color: white;
}

.userGameboardMain > div.hit::before, .computerGameboardMain > div.hit::before {
  transform: rotate(45deg);
}

.userGameboardMain > div.hit::after, .computerGameboardMain > div.hit::after  {
  transform: rotate(-45deg);
}



.computerGameboardMain {
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(10, 48px);
  grid-template-rows: repeat(10, 48px);
  grid-auto-flow: column;
  justify-content: center;
  gap: 2px;
}

.wonPage {
  height: 100%;
  width: 100%;
  background-image: url("/nice-snow.png");
  background-color: #001fe6;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


@keyframes typeborder {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes landToPage {
  0% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    border-color: black;
    transform: scale(2);
  }
  98%{
    background-color: black;
    border-color: black;
  }
  99% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    transform: scale(0.2);
  }

  100% {
    transform: scale(1.0);
  }
}

